.c-accordion {
  //   display: flex;
  color: $dark-color !important;
  font-weight: 600;
  font-size: large;
  &:hover {
    color: $purple-color !important;
    text-decoration: none !important;
  }
}
